__pycache__/
*.py[cod]
*.Python

venv/
.venv/
env/
ENV/

.ipynb_checkpoints/


.vscode/
.idea/

.DS_Store
Thumbs.db


*.h5
*.keras
*.ckpt
*.pb


data/images/
data/*.csv



results/metrics/*
results/figures/*
results/histories/*


# Keep empty directories
!results/metrics/.gitkeep
!results/figures/.gitkeep
!results/histories/.gitkeep